*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.note{
    position: relative;
}
.delete{
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: "Architects Daughter", cursive;
}